<!doctype html>
<html>
<head>
  <title>A Compliment</title>
  <link rel="stylesheet" href="/static/madlibs.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat:700,400' rel='stylesheet' type='text/css'>
</head>
<body>
    Hi {{ person }}! I think you're {{ compliment }}!
    <form action="/game">
        Do you want to play a game?
        <input type="radio" name="play-game" value="yes" required>Yes
        <input type="radio" name="play-game" value="no">No
        <input type="submit" class="submit-button">
    </form>
</body>
</html>