<!doctype html>
<html>
<head>
    <title>Ur madlib!</title>
    <link rel="stylesheet" href="/static/madlibs.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:700,400' rel='stylesheet' type='text/css'>

</head>
<body>
   
   There once was a {{ adjective }} {{ color }} who wanted to be more like {{ famous }}.
   {{ color }} got a job opportunity in {{ place }} working for {{ famous }}.
   But when she got there, she realized her only job was to get {{ food }} for lunch!
   Luckily, {{ heroine }} came to {{ place }} looking for a {{ noun }}.
   {{ color }} was the only person who owned a {{ noun }}.
   {{ heroine }} met the {{ adjective }} {{ color }} while she was carrying the {{ food }} for today.
   After speaking for a while, {{ color }} gave {{ noun }} to {{ heroine }} freely.
   In exchange, {{ heroine }} fired {{ famous }} and replaced them with {{ color }} -- she was the CEO the whole time!

</body>
</html>